/*Home Page*/
/*logo*/
#logo{
height:80px;
background-color:black;
}
/*navbar*/
.navbar{
	list-style:none;
background-color:black;
opacity:0.6;
}
#navbarDropdownMenuLink
{
color:white;
}
.navbar-brand a{
height:80px;
background-color:black;
}
/*dropdown*/
.dropdown-menu{
background-color:#cac32d;
color:#dcdbdb;
}
.nav-item dropdown{
	color:white;
}
/*slider*/
.card-img{
height:555px;
}
.ca{
	position:absolute;
	top:25%;
	left:78%;
}
#overlay{
color:black;
}
#overlaycrd{
height:250px;
width:100%
}
/*Main Headings*/
h2
{
	text-align:center;
	color:#cac32d;
}
#para{
	text-align:center;
	font-size:20px;
}
/*Business Objectives*/
#content{
	padding-top:80px;
	background-color:black;
	color:white;
}
#business{
	padding-top:60px;
	text-align:center;

}
#promote{
	height:100px;
	background-color:#cac32d;
}
#businesshead{
	padding-top:15px;
	color:#cac32d;
}
.zoom {
    padding: 20px;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
/*What We Offer*/
#whatwe{
padding-top:50px;
}
#whatweimg{
	height:40px;
}
#whatwepad
{
padding-top:30px;
}
/*Facts*/
#facts{
padding-top:50px;
background-color:black;
color:#cac32d;
}
.circle-icon1{
    background:#660000;
    border-radius:50%;
    height:70px;
}
.circle-icon2{
    background:orange;
    border-radius:50%;
    height:70px;
    
}
.circle-icon3{
    background:green;
    border-radius:50%;
    height:70px;
}
#wad {
  border: none;
  color:black;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}
#wad:hover {
  background-color:#003366;
}
/*Customers & Partners*/
#customer{
padding-top:50px;
}
#trusted{
text-align:center;
}
#sponser{
height:30px;
}
#sponser1{
height:50px;
}
#cust
{
text-align:center;
padding-top:10px;
}
/*Testimonials*/
.carousel-caption{
	color:#cac32d;
}
#caraouselhead{
	padding-top:20px;
}
#caraouselpara{
	padding-top:40px;
}
/*Advertise*/
.advertise{
	background-color:black;
	color:grey;
}
.advHead{
	color:#cac32d;
}
/*Copyrights*/
.copyrights{
background-color:#1c1c1c;
}
#copy{
	color:#cac32d;
	padding-top:30px;
}
/*Career page*/
.slider1{
height:660px;
}
#whyach{
	background-color:black;
	color:white;
	text-align:center;
}
#whatwe
{
	color:black;
}
#benefitImg
{
	height:60px;
}
/*/*@media screen and (max-width:600px) {*/
 /* .ca {
    visibility: hidden;
    clear: both;
    display: none;
  }
@media screen and (max-width:768px) {
  .ca {
    visibility: hidden;
    clear: both;
    display: none;
  }
@media screen and (max-width:991px) {
  .ca {
    visibility: hidden;
    clear: both;
    display: none;
  }
}*/*/
*{
  box-sizing: border-box;
}
body, ul,{
  margin:0;
  padding:0;
}
@media only screen and (min-width: 992px and max-width:1199px) {
    /* For tablets: */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}
@media only screen and (min-width: 768px and max-width:991px) 
{
    /* For phones: */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}
@media only screen and (min-width:1200px)
{
	.col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}
@media only screen and (max-width:600px)
{
  #whatwe{
   text-align:center;
  }
   #facts
   {
   	text-align:center;
   }
    .advertise
    {
    	text-align:center;
    }
    #benefits
    {
    text-align:center;	
    }
    #openings
    {
     text-align:center;
    }
    #testimonials
    {
    	text-align:center;
    }
}

@media only screen and (max-width:600px)
{
  #whatwe{
   text-align:center;
  }
   #facts
   {
   	text-align:center;
   }
    .advertise
    {
    	text-align:center;
    }
    #benefits
    {
    text-align:center;	
    }
    #openings
    {
     text-align:center;
    }
    #testimonials
    {
    	text-align:center;
    }
     #sponser,#sponser1
     {
     	text-align:center;
     }
}
@media screen and (max-width: 600px) {
 #overlaycrd {
    visibility: hidden;
    display: none;
  }
}