body,h1{
    font-weight:400
}
.partners,.what-we-offer,footer{
    position:relative
}
.dropdown a:hover,.dropdown-content a,.more-informa a:focus,.more-informa a:hover,.products-header .category-box a:hover,.technology a:focus,footer ul li a:hover{
    text-decoration:none
}
.contact-head,.wrdspace{
    word-spacing:7px
}
.coreservices ul li,.dropdown-content ul li,.list li{
    list-style-type:none
}
body{
    font-family:roboto;
    padding:0;
    margin:0;
    color:#333;
    overflow-x:hidden
}
h3{
    font-size:24px
}
h4{
    font-size:18px
}
p{
    font-size:15px;
    line-height:26px
}
.img-responsive{
    display:inline-block
}
section{
    text-align:center;
    padding-top:75px;
    padding-bottom:75px
}
.navbar-default{
    background:0 0;
    border:none
}
.navbar-default .navbar-nav>li>a{
    margin-top:5px;
    color:rgba(255,255,255,.7)
}
.navbar-default .navbar-nav>li>a:after{
    content:'';
    height:1px;
    width:0;
    transition:width 1s;
    background:#fff;
    left:0;
    bottom:0;
    top:2px;
    display:block
}
.navbar-default .navbar-nav>li.active>a:after,.navbar-default .navbar-nav>li>a:hover:after,.souter{
    width:100%
}
.swiper-slide .overlay:after,footer::before{
    content:'';
    top:0;
    left:0
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li.active>a,.navbar-default .navbar-nav>li.active>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{
    color:#fff;
    background:0 0
}
.navbar-default .navbar-brand img{
    margin-top:-9px
}
.navbar-scroll{
    background:#337ab7;
    box-shadow:1px 1px 2px rgba(0,0,0,.08)
}
.navbar-default .navbar-brand{
    margin-top:0
}
.navbar-scroll .navbar-brand{
    margin-top:-9px
}
.navbar-scroll .navbar-nav>li.active>a,.navbar-scroll .navbar-nav>li.active>a:hover,.navbar-scroll .navbar-nav>li>a:focus,.navbar-scroll .navbar-nav>li>a:hover{
    color:rgba(255,255,255,.9)
}
.navbar-scroll .navbar-nav>li>a{
    color:rgba(255,255,255,.6)
}
.navbar-scroll .navbar-brand img{
    margin-top:0
}
.navbar-default .navbar-toggle{
    border:none
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
    background:0 0
}
.navbar-default .navbar-toggle .icon-bar{
    background:#fff
}
.sliders{
    color:#fff;
    padding:30px
}
.affix{
    -webkit-transition:padding .2s linear;
    -moz-transition:padding .2s linear;
    -o-transition:padding .2s linear;
    transition:padding .2s linear
}
.affix-top{
    padding-top:0;
    padding-bottom:0;
    -webkit-transition:padding .5s linear;
    -moz-transition:padding .5s linear;
    -o-transition:padding .5s linear;
    transition:padding .5s linear
}
.home-slider{
    height:70vh
}
.about-slider{
    height:60vh;
    padding-top:0
}
.slider-1{
    background:url(../images/banner/Banner2.jpg) no-repeat;
    background-size:cover
}
.slider-2{
    background:url(../images/banner/3-Banners.jpg) no-repeat;
    background-size:cover
}
.slider-3{
    background:url(../images/banner/2-Banners.jpg) no-repeat;
    background-size:cover
}
.sliders h1{
    font-size:45px;
    font-weight:300;
    margin-top:10px;
    line-height:52px;
    text-shadow:2px 2px rgba(0,0,0,.18)
}
.sliders a.btn{
    color:#fff;
    background:#FA4949;
    border-radius:50px;
    margin-top:30px;
    font-size:14px;
    padding:8px 30px
}
.lookingfor,.technology,section.business-objective{
    background:url(../images/banner/BO.jpg) no-repeat;
    background-size:cover;
    color:#fff;
    padding:50px 0 80px;
    position:relative
}
.heading{
    font-weight:300;
    font-size:32px;
    margin-bottom:30px
}
.souter{
    display:table
}
.sinner{
    display:table-cell;
    vertical-align:middle;
    height:60vh
}
.business-objective p{
    font-weight:400;
    margin:0 20px;
    color:rgba(255,255,255,.8)
}
p.intro{
    margin-bottom:50px;
    margin-left:120px;
    margin-right:120px;
    font-weight:300
}
.business-objective h3{
    margin-bottom:20px
}
.business-objective .row{
    margin-top:10px
}
.business-objective img{
    width:60px;
    margin-bottom:20px
}
.business-objective .svgImage{
    width:60px;
    height:60px
}
.business-objective .opentxt{
    color:#fff!important
}
.business-objective .develop.svgImage g,.business-objective .develop.svgImage path{
    fill:#fff!important
}
.business-objective .col-md-4:first-child img{
    width:55px;
    height:60px
}
.business-objective .col-md-4:last-child .svgImage{
    width:70px;
    height:49px
}
.business-objective .client{
    margin-top:-1px
}
.business-objective .reliability{
    margin-top:14px
}
.business-objective .develop{
    margin-top:2px
}
.what-we-offer p{
    color:rgba(51,51,51,.5)
}
.what-we-offer .box{
    margin-top:25px
}
.what-we-offer .box:first-child{
    margin-top:0
}
.what-we-offer .box img{
    width:35px
}
.what-we-offer .box h4{
    margin-top:10px;
    font-weight:400;
    text-align:left;
    margin-left:-15px;
    color:#333
}
.what-we-offer .second-column{
    padding-left:50px
}
.what-we-offer .second-column .box:last-child img{
    margin-top:7px
}
.clients .main-container{
    text-align:left;
    margin-top:80px
}
.clients p{
    font-size:15px;
    color:#858585;
    font-weight:300
}
.clients .heart p{
    color:#333
}
.heart{
    margin-top:30px
}
.heart img{
    margin-top:3px
}
.heart p{
    margin-left:-50px
}
.clients .client-logo{
    margin-top:50px
}
.clients .client-logo .logo-cont{
    text-align:center;
    display:inline-block;
    vertical-align:middle;
    margin:0 49px
}
.clients .client-logo .logo-cont-fz{
    margin-left:35px
}
.clients .client-logo .logo-cont:last-child{
    border-right:none
}
.clients .client-logo .client-row{
    text-align:center;
    padding:0 15px
}
.clients .client-logo .row:first-child .logo-cont{
    padding-bottom:45px;
    margin:20px 0 0
}
.client-first-logo{
    margin-top:-5px
}
.client-second-logo{
    margin-top:-15px
}
.clients .client-logo .row:last-child{
    border-bottom:none
}
.clients .client-logo .logo-cont img{
    width:140px
}
.clients .client-logo .logo-cont img.ps{
    width:120px
}
.clients .client-logo .logo-cont img.f1{
    width:170px
}
.clients .client-logo .logo-cont.ot img{
    width:250px;
    display:table;
    margin:0 auto
}
.testimonial{
    background:#eee
}
.testimonial-container .col-md-4{
    padding:10px 20px
}
.testimonial-box{
    padding-top:10px;
    padding-bottom:10px
}
.testimonial-content{
    border:1px solid #ccc;
    margin-top:-60px;
    padding:50px 30px 30px
}
.home .testimonial-content{
    padding-bottom:0
}
.testimonial-content p{
    line-height:20px;
    color:#666;
    font-weight:300
}
.testimonial-content .title{
    font-weight:400;
    margin-top:5px
}
.testimonial-block{
    margin:0 10px
}
.testimonial-box h5{
    font-size:16px;
    margin-bottom:0;
    font-weight:400
}
.testimonial-box p:last-child{
    margin-top:20px
}
.home .testimonial-box p{
    margin-top:30px
}
.testimonial-box h6{
    font-size:13px;
    font-weight:400;
    margin-top:0;
    margin-bottom:5px
}
.partners p,footer h4,footer p,footer ul li a{
    font-weight:300
}
.testimonial-box h6:first-of-type{
    margin-top:30px
}
.testimonial img{
    width:100px;
    margin-bottom:10px;
    border:0 solid #ccc;
    padding:5px;
    background:#eee
}
.testimonial img.f1{
    width:200px;
    margin-top:30px;
    margin-bottom:20px
}
.partners .heading{
    margin-top:20px
}
.partners img{
    margin-bottom:50px
}
.partners p{
    color:#666
}
footer{
    padding:15px 0 0;
    background:#333
}
footer::before{
    position:absolute;
    bottom:0;
    right:0;
    background-size:100%;
    opacity:.11;
    z-index:0
}
.footer-links{
    padding-bottom:20px
}
footer span{
    margin-right:10px
}
.social ul li span img{
    width:12px;
    margin-top:-5px
}
footer h4{
    color:rgba(255,255,255,.5);
    padding:10px 0;
    margin-bottom:25px;
    border-bottom:1px solid rgba(102,102,102,.3)
}
footer ul{
    padding-left:0
}
footer ul li{
    display:block;
    font-size:15px;
    margin-bottom:15px
}
footer p,footer ul li a{
    color:rgba(255,255,255,.6)
}
footer ul li a:hover{
    color:#fff
}
footer .address ul{
    display:inline-block;
    margin-right:20px
}
footer .address p{
    line-height:27px
}
footer .address p strong{
    font-weight:500
}
.footer-bottom{
    background:rgba(73,73,73,.3);
    padding:5px 5px 0
}
.footer-bottom p{
    color:rgba(255,255,255,.45);
    font-size:12px
}
.footer-bottom span img{
    width:16px
}
.about-slider1{
    background:url(../images/banner/aboutus-banner.jpg) no-repeat #000;
    background-size:cover;
    text-align:center
}
.about-slider2,.about-slider3{
    background:url(../images/banner/aboutus-banner2.jpg) no-repeat;
    background-size:cover;
    text-align:center
}
.about-slider h1{
    font-weight:700;
    margin-top:30px
}
.about-slider p.slider-intro{
    font-size:25px;
    font-weight:200;
    line-height:40px
}
.about-us .swiper-pagination-bullet-active{
    opacity:1;
    background:#fa4949
}
#products-container{
    padding:0
}
.tab-icons .icon{
    background-size:auto 80px;
    width:100px;
    height:80px;
    margin:0 auto;
    background-repeat:no-repeat
}
.tab-icons .icon.ic-marketing{
    background-image:url(../images/SVG/marketing.svg)
}
#products-container .nav-tabs>li.active>a .ic-marketing{
    background-image:url(../images/SVG/marketing-hover.svg)
}
.tab-icons .icon.ic-environment{
    background-image:url(../images/SVG/environment.svg)
}
#products-container .nav-tabs>li.active>a .ic-environment{
    background-image:url(../images/SVG/environment-hover.svg)
}
.tab-icons .icon.ic-framework{
    background-image:url(../images/SVG/framework.svg)
}
#products-container .nav-tabs>li.active>a .ic-framework{
    background-image:url(../images/SVG/framework-hover.svg)
}
.product-banner{
    background:url(../images/banner/Our%20Products.jpg) center no-repeat;
    background-size:cover;
    text-align:center;
    position:relative
}
.swiper-slide .overlay:after{
    position:absolute;
    background:rgba(0,0,0,.2);
    width:100%;
    height:100%
}
.swiper-slide .overlay .center-content{
    position:relative;
    z-index:9
}
#products-container .nav-tabs li{
    width:33.33%
}
#products-container .nav-tabs>li{
    margin-bottom:0;
    background-color:#f7f7f7
}
#products-container .nav-tabs>li>a{
    font-size:28px;
    margin:0;
    color:rgba(0,0,0,.35);
    text-align:center;
    border-radius:0;
    border:0;
    font-weight:300;
    padding:80px
}
#products-container .nav-tabs>li>a span{
    display:block
}
#products-container .nav-tabs>li.active>a{
    background-color:#f7f7f7;
    color:#5C9EED
}
#products-container .nav-tabs>li>a:hover{
    background-color:#f7f7f7
}
#products-container .nav-tabs>li.active>a:focus,#products-container .nav-tabs>li.active>a:hover{
    background-color:#f7f7f7;
    color:#5C9EED
}
#products-container .nav-tabs>li.active{
    position:relative;
    background:#88b7d5
}
#products-container .nav-tabs>li.active:after,#products-container .nav-tabs>li.active:before{
    top:100%;
    left:50%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    z-index:99
}
#products-container .nav-tabs>li.active:after{
    border-top-color:#f7f7f7;
    border-width:30px;
    margin-left:-30px
}
#products-container .nav-tabs>li.active:before{
    border-top-color:#ddd;
    border-width:31px;
    margin-left:-31px
}
#products-container .nav-tabs>li.active>a,#products-container .nav-tabs>li.active>a:focus,#products-container .nav-tabs>li.active>a:hover{
    border:0
}
#products-container .nav>li>a>svg{
    height:80px
}
.project-managemant{
    display:table;
    width:100%;
    text-align:left;
    font-weight:300
}
.project-managemant .sect{
    display:table-cell;
    width:50%
}
.project-managemant .sect.details{
    padding:3% 5%
}
.project-managemant .sect.gallery{
    position:relative
}
.model-carousel-container{
    position:absolute;
    bottom:00px;
    text-align:center;
    width:100%
}
.mission .heading,.mission p,.vision .heading{
    text-align:left
}
.model-carousel-container .nav>li>a{
    padding:0;
    border:1px solid transparent;
    border-radius:0
}
.model-carousel-container .nav>li>a:hover{
    padding:0;
    border-color:#fff
}
.project-managemant .sect.gallery.i01{
    background:url(../images/products/01.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i02{
    background:url(../images/products/rpm.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i03{
    background:url(../images/products/03.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i04{
    background:url(../images/products/21cfr.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i05{
    background:url(../images/products/05.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i06{
    background:url(../images/products/13.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i07{
    background:url(../images/products/07.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i08{
    background:url(../images/products/08.jpg) center no-repeat;
    background-size:1033px
}
.project-managemant .sect.gallery.i09{
    background:url(../images/products/09.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i10{
    background:url(../images/products/10.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i11{
    background:url(../images/products/11.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i12{
    background:url(../images/products/12.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i14{
    background:url(../images/products/14.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i15{
    background:url(../images/products/15.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.i16{
    background:url(../images/products/16.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery .model-carousel-container li{
    display:inline-block;
    margin:0 10px
}
.project-managemant h2{
    font-size:32px;
    color:#5C9EED;
    font-weight:200
}
.project-managemant p{
    font-size:18px;
    color:#606873;
    line-height:34px;
    font-weight:300;
    margin:20px 0
}
.project-managemant h4{
    font-size:18px;
    color:#606873;
    line-height:26px;
    font-weight:400
}
.project-managemant .sect.details li{
    font-size:14px;
    color:#78818D;
    line-height:26px;
    font-weight:400
}
.project-managemant .more-informa{
    margin-top:20px;
    clear:both;
    float:left
}
.project-managemant .info-contact{
    padding-top:20px;
    margin:0!important;
    clear:none;
    float:none
}
.project-managemant .more-informa a{
    margin-right:20px
}
.project-managemant .carousel{
    position:fixed
}
.project-managemant .glyphicon{
    background-color:rgba(0,0,0,.8);
    top:50%;
    margin-top:-15px;
    font-size:30px;
    text-shadow:none;
    padding:5px
}
.carousel-indicators li{
    margin:0!important
}
.carousel-control.left,.carousel-control.right{
    background-image:none
}
.project-managemant .modal-content{
    border-radius:0
}
.project-managemant .modal-body{
    padding:2px
}
.more-informa span{
    display:inline-block;
    vertical-align:middle;
    font-size:18px;
    font-weight:300
}
.project-managemant .glyphicon.glyphicon-envelope{
    background-color:transparent;
    margin-top:-2px;
    font-size:18px
}
@media (min-width:768px){
    .modal-dialog{
        width:790px
    }
    .carousel-indicators{
        bottom:0
    }
}
section.summary{
    height:auto;
    position:relative
}
.mission p,.summary p,.vision p{
    color:rgba(51,51,51,.7);
    font-weight:400
}
.mission p,.vision p{
    color:rgba(51,51,51,.8)
}
.summary .heading{
    margin-bottom:30px
}
.mission p:after,.mission p:before,.summary p:after,.summary p:before,.vision p:after,.vision p:before{
    content:'';
    width:24px;
    height:24px;
    background:url(../images/quotes.png) no-repeat;
    position:absolute
}
.mission,.mission-container{
    position:relative
}
.summary p:before{
    top:-10px;
    left:5px
}
.mission p:before{
    bottom:125px;
    left:-30px
}
.mission p:after,.summary p:after,.vision p:after{
    background:url(../images/quotes-right.png) no-repeat;
    right:100px
}
.mission p:after{
    bottom:-15px;
    right:260px
}
.vision p:before{
    top:70px;
    left:60px
}
.vision p:after{
    right:-15px;
    bottom:-5px
}
.mission{
    background:#f3f3f3;
    padding:70px 0 100px
}
.mission img{
    width:450px;
    margin-top:40px
}
.mission-text{
    position:absolute;
    top:50%;
    transform:translateY(50%)
}
.mission p{
    font-weight:400,
}
.vision,.vision .heading{
    text-align:right
}
.vision{
    background:url(../images/aboutus/vision.jpg) no-repeat;
    background-size:100% 100%;
    position:relative;
    padding:150px 0 180px
}
.vision p{
    margin-left:60px;
    font-weight:400
}
.time-line{
    background:url(../images/aboutus/map.png) bottom no-repeat;
    background-size:cover;
    position:relative;
    height:80vh
}
.time-line .heading{
    margin-bottom:0;
    margin-top:0
}
.demo-line{
    border-top:.1px dotted #bbb;
    width:93%;
    height:1px;
    margin:0 auto;
    position:absolute;
    top:189px;
    left:50px
}
.bubble-top-container{
    position:relative;
    top:0
}
.bubble-container{
    position:absolute;
    top:39%
}
.bubble-mobile-left,.bubble-mobile-right,.bubble-new{
    position:relative;
    background:#999;
    padding:15px 20px;
    border-radius:4px
}
.bubble-new:after,.bubble-new:before{
    top:100%;
    left:30%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none
}
.bubble-new:after{
    border-color:rgba(136,183,213,0);
    border-top-color:#999;
    border-width:10px;
    margin-left:-10px
}
.bubble-new:before{
    border-color:rgba(194,225,245,0);
    border-top-color:#999;
    border-width:12px;
    margin-left:-12px
}
.top-left{
    left:307px;
    top:90px
}
.top-left .bubble-new:after,.top-left .bubble-new:before{
    left:30%
}
.top-right{
    right:173px;
    top:65px
}
.bubble-bottom{
    position:relative;
    background:#999;
    padding:15px 20px;
    border-radius:4px
}
.bubble-bottom:after,.bubble-bottom:before{
    bottom:100%;
    left:77%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none
}
.bubble-bottom:after{
    border-color:rgba(250,229,38,0);
    border-bottom-color:#999;
    border-width:10px;
    margin-left:-10px
}
.bubble-bottom:before{
    border-color:rgba(194,225,245,0);
    border-bottom-color:#999;
    border-width:12px;
    margin-left:-12px
}
.bottom-right{
    top:230px;
    left:230px
}
.bottom-left{
    top:230px;
    right:284px
}
.bottom-left .bubble-bottom:after,.bottom-left .bubble-bottom:before{
    left:75%
}
.circle-new{
    background:#fa4949;
    width:10px;
    height:10px;
    border-radius:100px;
    position:absolute;
    top:184px
}
.circle1-new{
    left:358px
}
.circle2-new{
    right:327px
}
.time-line p{
    position:absolute;
    top:195px;
    font-size:13px;
    font-weight:600;
    color:#333
}
.time-line h4{
    font-size:13px;
    font-weight:300;
    line-height:22px;
    color:rgba(255,255,255,1)
}
.time-line{
    padding-top:80px
}
.y2014{
    right:318px
}
.y2013{
    left:350px
}
.services p:after,.services p:before{
    content:''
}
section.services{
    position:relative
}
section.services p.intro{
    margin-bottom:20px
}
.services-main-page p.intro{
    color:rgba(51,51,51,.8);
    margin:5px 48px 50px
}
.services-main-page .heading{
    margin-bottom:30px
}
.service-container{
    padding-left:30px;
    padding-right:20px;
    margin-top:30px
}
.service-container:nth-child(3) .service-box{
    padding:100px 50px;
    max-height:275px
}
.service-box{
    background:#1E73BE;
    color:#fff;
    padding:80px 50px;
    min-height:275px;
    max-height:305px
}
.services .service-box p{
    font-weight:300;
    color:#fff;
    margin-bottom:0;
    font-size:16px
}
.technology .row .row,.technology p.intro{
    color:rgba(255,255,255,.8)
}
.facts{
    background:#eee
}
.facts h4{
    font-size:22px;
    font-weight:300;
    margin-bottom:40px
}
.facts .image{
    width:60px;
    height:60px;
    background:#E21F27;
    padding:12px 15px 15px;
    border-radius:100px;
    text-align:center;
    margin:0 auto 8px
}
.facts .image img{
    height:34px;
    width:24px
}
.facts .employee .image{
    background:#F9A11B
}
.facts .employee p{
    font-weight:700;
    font-size:25px
}
.facts .customer-presence .image{
    background:#9FCC3B
}
.facts .customer-presence .col-xs-4:first-child{
    padding-left:10px
}
.facts .customer-presence .col-xs-4:last-child .image img{
    width:50px;
    height:auto;
    margin-top:-10px
}
.facts .customer-presence .col-xs-4:last-child .image{
    padding:10px
}
.technology h4{
    font-weight:300;
    text-align:left;
    margin-top:3px;
    margin-left:-25px
}
.technology img{
    width:25px
}
.technology .col-md-3{
    padding-left:0
}
.technology .row .row{
    margin-top:25px
}
.technology .button{
    color:#fff;
    border:1px solid #fff;
    padding:8px 30px;
    border-radius:25px;
    font-size:16px;
    margin-top:50px
}
.technology .last-image img{
    margin-top:-5px
}
.technology .view-more{
    padding-top:60px
}
.technology .button:hover{
    color:#2A86C3;
    text-decoration:none;
    background:#fff
}
.technology .row .row:last-child{
    margin-top:35px
}
@media (max-width:1280px){
    .services p.intro{
        margin-bottom:90px
    }
    .time-line{
        background-position:center
    }
    .service-container:nth-child(3) .service-box{
        min-height:290px
    }
    #products-container .nav-tabs>li>a{
        padding:20px
    }
}
@media (max-width:768px){
    .time-line,footer::before{
        background-size:cover
    }
    .project-managemant .sect.gallery{
        min-height:400px;
        padding:0
    }
    .project-managemant .sect.gallery .model-carousel-container li{
        margin:0 10px 10px
    }
    .project-managemant .sect{
        display:table;
        width:100%;
        padding:5%
    }
    .sliders{
        padding:0 20px;
        text-align:center
    }
    .what-we-offer .second-column{
        padding-left:17px
    }
    .partners{
        padding:10px 0;
        height:auto
    }
    .services-container{
        padding-left:50px
    }
    .facts .heading{
        margin-top:0
    }
    .facts .col-md-4{
        margin-bottom:50px
    }
    .technology .tech-box{
        padding-left:30px
    }
    .vision p{
        margin-left:0;
        text-align:left
    }
    section,section.summary{
        height:auto;
        padding:50px 0
    }
    section.summary p{
        margin-left:30px
    }
    .summary p:before{
        left:30px
    }
    .summary p:after{
        right:50px
    }
    .mission p:before{
        top:70px;
        left:10px
    }
    .mission p:after{
        bottom:-20px;
        right:50px
    }
    .vision p:before{
        top:50px;
        left:10px
    }
    .vision p:after{
        bottom:-20px;
        right:40px
    }
    .time-line{
        padding:50px 25px
    }
    .demo-line{
        width:90%
    }
    .bubble-top-container{
        top:140px
    }
    .bubble-container{
        position:relative
    }
    .bubble-bottom,.bubble-new{
        width:150px;
        left:0;
        right:0
    }
    .top-left{
        left:185px;
        top:70px
    }
    .top-right{
        left:520px;
        top:-205px
    }
    .bottom-right{
        left:114px;
        top:-159px
    }
    .bottom-left{
        left:453px;
        top:118px
    }
    .circle1-new{
        left:225px
    }
    .circle2-new{
        right:180px
    }
    .time-line p{
        top:185px
    }
    .y2013{
        left:260px
    }
    .y2014{
        right:130px
    }
    .service-container{
        padding:0 25px;
        height:auto
    }
    .service-container:nth-child(3) .service-box{
        min-height:275px
    }
    #products-container .nav-tabs>li>a span{
        display:none
    }
    #products-container .nav-tabs>li>a{
        padding:20px 0
    }
}
@media(max-width:600px){
    .vision,.vision .heading,.what-we-offer .service-container{
        text-align:left
    }
    .navbar-default .navbar-nav>li.active>a:after,.navbar-default .navbar-nav>li>a:hover:after{
        width:50%
    }
    .navbar-brand img{
        width:150px
    }
    .sliders h1{
        font-size:30px;
        margin:0 -15px
    }
    section{
        padding-top:10px!important;
        padding-left:10px;
        padding-right:10px;
        height:auto
    }
    .heading,.what-we-offer .heading{
        font-size:18px;
        margin-bottom:30px
    }
    .business-objective .row{
        margin-top:0
    }
    .business-objective .row .col-md-4{
        margin-bottom:50px
    }
    .business-objective img{
        margin-bottom:0
    }
    .business-objective h3{
        font-size:16px
    }
    .business-objective .client,.business-objective .develop{
        height:36px
    }
    .business-objective .col-md-4:last-child .svgImage{
        height:30px
    }
    .what-we-offer .second-column{
        padding-left:16px;
        margin-top:25px
    }
    .what-we-offer h4{
        font-size:15px
    }
    .what-we-offer img{
        width:24px
    }
    .partners img{
        margin-top:0
    }
    .about-slider{
        padding-top:190px;
        height:40vh
    }
    .about-slider h1{
        font-size:20px;
        margin-top:40px
    }
    .about-slider p.slider-intro{
        font-size:15px;
        line-height:20px
    }
    .services-main-page .heading{
        margin-bottom:20px
    }
    .services-main-page p.intro,p.intro{
        line-height:24px;
        margin-left:5px;
        margin-right:5px
    }
    section .services .row{
        padding-left:0;
        padding-right:0
    }
    .service-container{
        padding-left:25px;
        padding-right:25px;
        margin-top:15px
    }
    .technology,.technology .tech-box{
        padding-left:30px
    }
    .facts h4{
        font-size:18px;
        margin-bottom:30px
    }
    .facts p{
        font-size:14px
    }
    .facts .intro{
        font-size:15px
    }
    .technology{
        padding-right:30px
    }
    .technology h4{
        font-size:16px
    }
    section.summary{
        padding-bottom:10px;
        height:auto
    }
    .mission p:after,.mission p:before,.summary p:after,.summary p:before,.vision p:after,.vision p:before{
        background-size:16px 11px
    }
    .mission p,.summary p{
        margin-left:18px;
        margin-right:18px
    }
    .summary p:before{
        left:30px
    }
    .mission p:before,.vision p:before{
        top:50px;
        left:10px
    }
    .summary p:after{
        right:50px
    }
    .mission p:after{
        bottom:-20px;
        right:50px
    }
    .vision p:after{
        bottom:-20px;
        right:40px
    }
    .mission img{
        width:160px
    }
    .mission .heading,.vision .heading{
        margin-top:30px;
        margin-left:20px;
        margin-right:20px
    }
    .vision{
        background:url(../images/aboutus/vision-mobile.png) right 30px no-repeat #f3f3f3;
        background-size:36%;
        padding-right:50px
    }
    .vision p{
        margin-left:20px
    }
    .bubble-top-container{
        position:relative;
        left:18%;
        top:10px
    }
    .bubble-mobile-left,.bubble-mobile-right{
        width:100px;
        height:auto;
        left:0;
        padding:2px
    }
    .bubble-mobile-right:after,.bubble-mobile-right:before{
        right:100%;
        top:20%;
        border:solid transparent;
        content:" ";
        height:0;
        width:0;
        position:absolute;
        pointer-events:none
    }
    .bottom-right .bubble-mobile-right:after,.bottom-right .bubble-mobile-right:before{
        top:30%
    }
    .bubble-mobile-right:after{
        border-color:rgba(136,183,213,0);
        border-right-color:#999;
        border-width:10px;
        margin-top:-10px
    }
    .bubble-mobile-right:before{
        border-color:rgba(194,225,245,0);
        border-right-color:#999;
        border-width:12px;
        margin-top:-12px
    }
    .bubble-mobile-left:after,.bubble-mobile-left:before{
        left:100%;
        top:38%;
        border:solid transparent;
        content:" ";
        height:0;
        width:0;
        position:absolute;
        pointer-events:none
    }
    .bubble-mobile-left:after{
        border-color:rgba(136,183,213,0);
        border-left-color:#999;
        border-width:10px;
        margin-top:-10px
    }
    .bubble-mobile-left:before{
        border-color:rgba(194,225,245,0);
        border-left-color:#999;
        border-width:12px;
        margin-top:-12px
    }
    .top-left{
        left:13%;
        top:60px
    }
    .top-right{
        top:160px;
        left:225px
    }
    .bottom-right{
        left:225px;
        top:-130px
    }
    .bottom-left{
        left:13%;
        top:-100px
    }
    .demo-line{
        transform:rotate(90deg);
        width:65%;
        left:18px;
        top:120%
    }
    .time-line{
        background-size:cover
    }
    .time-line h4{
        font-size:13px
    }
    .cont{
        position:absolute;
        left:0;
        top:75px
    }
    .mobile-left{
        position:relative;
        top:0
    }
    .mobile-left .bottom-left{
        top:120px
    }
    .circle-new,.circle1-new,.circle2-new{
        left:192px
    }
    .circle1-new{
        top:90px
    }
    .circle2-new{
        top:230px
    }
    .time-line p{
        top:50px;
        left:40%
    }
    .time-line p.y2014{
        top:210px;
        left:9%
    }
}
@media(max-width:480px){
    .benefits .card .svgImage{
        display:none
    }
    .project-managemant .sect.gallery .model-carousel-container li{
        float:left;
        width:43%
    }
    .vision{
        background-size:36%
    }
    .top-left{
        left:6%;
        top:60px
    }
    .top-right{
        left:0;
        top:160px;
        right:0
    }
    .bottom-right{
        left:0;
        top:-130px
    }
    .bottom-left{
        left:6%;
        top:-100px
    }
    .cont{
        position:absolute;
        left:180px;
        top:75px
    }
    .mobile-left{
        position:relative;
        top:0
    }
    .mobile-left .bottom-left{
        top:120px
    }
    .demo-line{
        transform:rotate(90deg);
        left:9px;
        top:180px
    }
    .time-line{
        background-size:cover
    }
    .time-line h4{
        font-size:13px
    }
    .circle-new,.circle1-new,.circle2-new{
        left:144px
    }
    .circle1-new{
        top:53%
    }
    .circle2-new{
        top:150%
    }
    .time-line p{
        top:18%
    }
    .time-line p.y2014{
        top:120%;
        left:10%
    }
}
@media(max-width:414px){
    .bubble-top-container{
        left:0
    }
    .cont{
        left:210px
    }
    .mobile-left{
        position:absolute;
        left:30px
    }
    .mobile-left .bottom-left{
        top:130px
    }
    .demo-line{
        left:55px
    }
    .circle-new{
        left:169px;
        top:90px
    }
    .circle2-new{
        top:240px
    }
    .time-line p{
        top:50px;
        left:185px
    }
    .time-line p.y2014{
        top:200px;
        left:170px
    }
}
@media(max-width:376px){
    .bubble-top-container{
        left:5px
    }
    .time-line p{
        left:52%
    }
    .mobile-left{
        position:relative;
        left:0
    }
    .summary p:after{
        right:30px
    }
    .cont{
        left:180px
    }
    .demo-line{
        left:-15px;
        width:100%;
        top:180px
    }
    .time-line p.y2014{
        left:170px
    }
    .circle-new,.circle1-new,.circle2-new{
        left:144px
    }
}
@media(max-width:360px){
    .demo-line{
        position:absolute;
        left:-6px;
        top:180px;
        width:309px
    }
    .time-line p.y2014{
        left:52%
    }
}
@media (max-width:320px){
    .vision p:after{
        bottom:-20px;
        right:0
    }
    .summary p:after{
        right:10px
    }
    .bubble-top-container{
        position:relative;
        left:-15px
    }
    .time-line{
        height:90vh
    }
    .time-line p{
        top:20%;
        left:59%
    }
    .time-line p.y2014{
        left:59%
    }
    .demo-line{
        transform:rotate(90deg);
        width:120%;
        left:-13px;
        top:120%
    }
}
@media(max-width:240px){
    .navbar-default .navbar-brand img{
        margin-top:-5px
    }
}
@media (min-width:1550px){
    section.services p.intro{
        margin-bottom:120px
    }
    .partners{
        height:65vh
    }
    .time-line{
        background-size:cover
    }
    .center-content{
        width:auto
    }
    .mission .center-content,.vision .center-content{
        width:60%
    }
}
@media (min-width:2000px){
    .mission .center-content,.vision .center-content{
        width:45%
    }
}
.products h1{
    font-size:40px
}
.products section{
    padding:50px 0
}
.products-header .category-box .svgImage{
    margin-top:20px;
    width:120px;
    height:120px
}
.products-header .category-box h3{
    font-size:20px;
    color:#fff
}
.products-header .category-box a{
    color:#333
}
.m-c .category-header{
    border:1px solid transparent;
    border-width:1px 0;
    text-align:center;
    padding:15px 0;
    background:#f6f6f6
}
.m-c .category-header .svgImage,.m-c .category-header h3{
    display:inline-block;
    vertical-align:middle;
    font-size:22px;
    margin:0;
    font-weight:300
}
.m-c .category-header .svgImage{
    width:50px;
    margin-right:15px;
    height:50px;
    display:none
}
.m-c .product-item{
    padding:40px 0;
    border-bottom:1px solid #eee
}
.m-c .product-item .options{
    margin-top:20px
}
.m-c .product-item .options img{
    display:inline-block;
    margin:0 8px;
    width:35px
}
.m-c .product-item h3{
    font-size:16px
}
.m-c .product-item .svgImage{
    width:80px
}
.m-c .product-item .svgImage polyline,.m-c .product-item .svgImage text,.m-c .product-item .svgImage use{
    stroke:#333
}
.m-c .product-item p{
    color:#333;
    font-size:14px;
    font-weight:300;
    text-align:justify
}
.about-main-page .employee .testimonial-container{
    margin-top:30px
}
.about-main-page .employee .testimonial-content{
    margin-top:0;
    min-height:0;
    border:none;
    padding-top:30px
}
.about-main-page .employee .testimonial-item img{
    width:100px;
    margin-top:-20px;
    border:1px solid #ccc;
    padding:5px;
    background:#fff
}
.benefits .card{
    background:#fcfcfc;
    padding:20px;
    border:1px solid #eee;
    font-size:14px;
    margin-bottom:20px
}
.benefits .card .image,.benefits .card .title{
    display:inline-block;
    vertical-align:middle
}
.benefits .card .svgImage{
    width:30px;
    height:30px;
    margin-right:20px
}
.openings{
    background:#eee
}
.openings .card{
    background:#fff;
    text-align:left;
    padding:10px 20px;
    margin:10px 0;
    border-bottom:2px solid #1E73BE
}
.openings .card .job-exp,.openings .card .job-title,.openings .card .view{
    display:inline-block;
    vertical-align:middle
}
.openings .card .job-title{
    width:45%
}
.openings .card .job-exp{
    width:20%
}
.openings .card .job-title h5{
    font-weight:300;
    margin-top:0
}
.openings .card .job-exp h4{
    font-weight:300;
    font-size:14px
}
.openings .card .view{
    text-align:right;
    width:30%
}
.btn-job{
    background:#1E73BE;
    color:#fff;
    padding:5px 20px;
    border-radius:0
}
.btn-job:hover{
    background:0 0;
    color:#1E73BE;
    border:1px solid #1E73BE
}
.job-desc{
    padding-top:80px!important;
    text-align:left
}
.job-elem{
    padding-right:30px
}
.job-heading{
    padding-bottom:15px;
    font-weight:300;
    border-bottom:2px solid #1E73BE
}
.job-elem h3{
    font-size:16px;
    font-weight:400;
    color:#999;
    margin-bottom:15px
}
.job-elem h4{
    font-size:14px
}
.job-elem ul{
    padding-left:15px
}
.job-elem ul li{
    line-height:30px
}
.job-desc .btn-job{
    margin-top:20px;
    font-size:15px;
    padding:8px 35px
}
.remodal{
    padding:0;
    border-radius:3px
}
.remodal .apply{
    padding:10px;
    text-align:center;
    background:#1E73BE
}
.remodal .apply h2{
    font-size:16px;
    margin:0;
    color:#fff
}
.apply-btn{
    margin-bottom:20px
}
#applysuccess,#successMessage,.remodal form{
    padding:30px
}
.remodal label{
    text-align:left!important;
    font-weight:300;
    display:block
}
.remodal .form-control{
    border-radius:3px;
    border:1px solid #eee;
    box-shadow:none
}
.remodal textarea{
    height:80px
}
#map_wrapper{
    height:520px
}
#map_canvas{
    width:100%;
    height:100%
}
.customMapStyles h4,.customMapStyles p{
    font-size:13px;
    margin:2px;
    line-height:19px
}
.gallery .nav-stacked img{
    width:140px;
    background:#fff
}
.gallery .model-carousel-container .nav-stacked{
    background:rgba(51,51,51,.4);
    padding:10px 0
}
.testimonial-item{
    padding:0 20px
}
.testimonial-content{
    min-height:270px
}
.alt-error,.doc-error,.email-error,.error,.ext-error,.fname-error,.lname-error,.mob-error,.name-error{
    color:#b41818;
    text-align:left;
    font-size:13px;
    margin:0
}
.scroll{
    display:none;
    position:fixed;
    right:30px;
    bottom:20px;
    cursor:pointer
}
.dropdown,.has-number{
    position:relative
}
.svgImage{
    width:30px;
    height:30px
}
.remodal-close{
    left:auto;
    right:0;
    color:#fff!important
}
.service-intro{
    background:#fbfbfb;
    padding:90px 0!important
}
.service-intro p{
    color:#606873;
    font-size:15px;
    margin-bottom:20px
}
.service-intro .service-item{
    margin-top:60px
}
.service-intro .service-item .svgImage{
    width:60px;
    height:60px;
    margin-bottom:15px
}
.service-intro .service-item .svgImage.ot{
    width:130px;
    height:60px
}
.service-intro .service-item p{
    font-size:14px;
    color:#6a6a6a;
    margin:0 30px
}
.more-informa .svgImage{
    width:20px;
    height:20px;
    vertical-align:middle;
    margin-right:5px
}
.mandatory{
    margin-left:5px;
    color:#b41818
}
.project-managemant .sect.gallery.s01{
    background:url(../images/products/bpm.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.s02{
    background:url(../images/products/otmm.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.s03{
    background:url(../images/products/cr.jpg) center no-repeat;
    background-size:cover
}
.career-slider{
    background:url(../images/banner/career.jpg) center no-repeat;
    background-size:cover
}
.career-slider.overlay:after,.service-slider.overlay:after{
    background:rgba(0,0,0,.5)
}
.service-slider{
    background:url(../images/banner/services.jpg) center no-repeat;
    background-size:cover
}
.team-block .team-card{
    padding-bottom:100%;
    position:relative;
    width:100%
}
.team-card{
    margin-bottom:15px
}
.team-block{
    padding-bottom:90px;
    padding-top:60px
}
.bg-gray{
    background:#f8f8f8
}
.heading-quaternary{
    display:block;
    font-size:14px;
    line-height:1.4;
    margin-bottom:5px
}
.heading-quinary{
    display:block;
    font-size:15px;
    letter-spacing:1px;
    line-height:1;
    text-transform:uppercase;
    font-family:FoundationSans-Cd
}
.team-block [class*=col-]{
    padding-bottom:15px;
    padding-top:15px
}
@media(max-width:480px){
    .icon{
        width:50px!important;
        height:50px!important;
        background-size:auto 44px!important
    }
    #products-container{
        padding-top:0!important
    }
    #products-container .nav-tabs>li.active:before{
        border-width:21px
    }
    #products-container .nav-tabs>li.active:after{
        border-width:20px
    }
    #products-container .nav-tabs>li.active:after,#products-container .nav-tabs>li.active:before{
        left:54%
    }
}
.icon-wid{
    width:14%
}
@media(max-width:992px){
    .icon-wid{
        width:100%
    }
}
.clrwhite{
    color:#fff
}
.project-managemant h5{
    font-size:14px;
    color:#78818D;
    line-height:26px;
    font-weight:400
}
.project-managemant{
    color:#78818D
}
.clr{
    color:#fff
}
.breadcrumb-bg{
    background-color:#eee
}
.bread-pading{
    padding:15px 22px 15px 17px
}
.link-act{
    color:#1E73BE
}
.mr-pad{
    padding-right:87px!important
}
.fr-pad{
    padding-right:190px!important
}
.txtcenter{
    text-align:left
}
.txtcenter h4{
    margin:10px 20px
}
.txtcenter p{
    font-size:14px;
    min-height:51px
}
.marginbottom{
    margin-bottom:10px
}
.txtcenter img{
    width:25px;
    height:25px;
    margin-bottom:6px;
    margin-right:5px
}
.dropbtn{
    background-color:#337ab7;
    color:#fff;
    padding:16px;
    font-size:16px;
    border:none
}
.dropdown{
    display:inline-block
}
.dropdown-content,.dropdown-content1{
    display:none;
    background-color:rgba(17,89,152,.9);
    min-width:165px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
    z-index:1;
    text-align:left;
    position:absolute
}
.dropdown a,.dropdown a:hover{
    color:#fff
}
.dropdown-content{
    left:-44px
}
.dropdown-content1{
    left:280px;
    top:0;
    border:1px solid rgba(17,89,152,.9)
}
.dropdown-content:before{
    top:-28px;
    left:76px;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    z-index:99;
    border-bottom-color:rgba(17,89,152,.9);
    border-width:14px;
    margin-left:-11px
}
.bkimg,.dropdown1,hr.style-eight:after{
    position:relative
}
.dropdown-content a:hover{
    background-color:#0b4171
}
.dropdown-content a{
    color:#fff;
    padding:12px 16px;
    display:block;
    font-size:13.6px
}
.coreservices h2,.knowmore{
    text-decoration:underline;
    text-underline-position:under
}
.cldpading .content{
    padding-top:21px
}
.dropdown-content ul,.dropdown-content1 ul{
    padding:0;
    width:auto
}
.dropdown-content ul li{
    width:auto
}
.dropdown-content1 ul li{
    width:auto;
    list-style-type:none
}
.dropdown:hover .dropdown-content{
    display:block
}
.dropdown1,.helper,hr.style-eight:after{
    display:inline-block
}
.dropdown:hover .dropbtn{
    background-color:#337ab7
}
.cldpading{
    margin:21px 18px;
    float:left;
    min-width:75px;
    text-align:center;
    height:20px
}
.svgicon{
    width:112px;
    height:145px
}
.servpad{
    padding:0 53px
}
hr.style-eight{
    overflow:visible;
    padding:0;
    border:none;
    border-top:1px solid #333;
    color:#333;
    text-align:center
}
hr.style-eight:after{
    content:&#8226;
    top:-.7em;
    font-size:1.5em;
    padding:0 .25em;
    background:#fff
}
.btn-contact,.btn-contact:hover{
    padding:10px 20px;
    border-radius:0
}
.btn-contact{
    background:#115998;
    color:#fff;
    border:1px solid #fff
}
.btn-contact:hover{
    background:#fff;
    color:#1E73BE;
    border:1px solid #1E73BE
}
.mrbtm{
    margin-bottom:57px
}
.btn-action{
    background:#1E73BE;
    color:#fff;
    padding:10px 30px;
    border-radius:0
}
.btn-action:hover{
    background:#fff;
    color:#1E73BE;
    border:1px solid #1E73BE
}
.know{
    font-size:12px!important;
    padding-left:8px
}
.coreservices{
    text-align:left!important;
    color:grey
}
.coreservices h2{
    color:#1E73BE
}
.services-slider{
    background:linear-gradient(to right,#10457b,#2783b9)
}
.services-slider .sinner{
    height:35vh
}
.grey{
    background-color:#ebecec!important
}
.svgimage{
    width:100px;
    height:100px
}
.bkimg{
    background:url(../images/banner/BO.jpg) no-repeat;
    background-size:cover;
    color:#fff;
    margin:0!important
}
.service-intro .hov:hover{
    background-color:#0c5290!important
}
.coreimg{
    text-align:right;
    padding:155px 70px;
    width:500px
}
.coreimg img{
    width:126%
}
.frame,.migrate img{
    width:100%;
    height:100%
}
.migrate img{
    padding:109px 37px
}
.pad30{
    padding:30px 0
}
.frame{
    white-space:nowrap;
    text-align:center;
    margin:1em 0
}
.helper{
    height:100%;
    vertical-align:middle
}
.frame img{
    vertical-align:middle
}
#products-container .padcontent{
    padding:70px 0
}
.knowmore,.knowmore:hover{
    padding:8px;
    cursor:pointer
}
.knowmore{
    color:#fff;
    float:right
}
.service-intro .hov:hover .knowmore{
    color:#FFF;
    background-color:#000;
    padding:8px;
    text-decoration:none;
    cursor:pointer;
    outline:#fff solid 1px
}
.knowmore:hover{
    color:#000;
    background-color:#fff;
    text-decoration:none;
    outline:#337ab7 solid 1px
}
.dropdown1 a{
    color:#fff
}
.dropdown1 a:hover{
    color:#fff;
    text-decoration:none
}
.doc-accept{
    text-align:left;
    font-size:13px;
    margin:0
}
.employeecard,.grid-line{
    margin-bottom:40px
}
.dropdown-content1 a{
    color:#fff;
    padding:12px 16px;
    text-decoration:none;
    display:block
}
.dropdown-content1 a:hover{
    background-color:#0b4171
}
.dropdown1:hover .dropdown-content1{
    display:block
}
.dropdown1:hover .dropbtn{
    background-color:#337ab7
}
.banner-nav:hover{
    text-decoration:underline;
    color:#2172a8;
    cursor:pointer
}
.banner-nav{
    color:#000
}
.services-bg,.txtwhite{
    color:#fff!important
}
.whitebg{
    background-color:#fff;
    padding:80px 0!important
}
.bg-pad{
    padding:0 60px
}
.infor{
    padding:60px
}
.marzero{
    margin-top:0
}
.services-bg{
    text-align:left;
    padding:0!important
}
.service-text,.txtcent{
    text-align:center
}
.services-grid5,.services-grid6,.services-grid7{
    background-color:#000;
    filter:alpha(opacity=60);
    padding:40px 40px 60px 45px
}
.services-grid6{
    opacity:.6
}
.services-grid7{
    opacity:.7
}
.services-grid5{
    opacity:.5
}
.grid-pad{
    padding:40px 40px 40px 45px
}
.grid-head{
    padding-bottom:5px
}
.grid-line{
    background-color:#fff;
    width:50px;
    height:3px
}
.service-text{
    font-size:19px;
    line-height:39px;
    color:grey
}
.icon-del{
    height:57px;
    width:190px
}
.contact-txt{
    padding:80px 0!important
}
.h140{
    height:140px
}
.font16{
    font-size:16px
}
.corebackground{
    background-color:#f7f7f7
}
.empbackground{
    background-color:#eee
}
.responsiveheader,.responsiveheader .panel{
    background-color:#337ab7
}
.empcontent{
    padding:50px 0 30px 10px!important;
    border:none!important
}
.ouremp{
    padding:0 10px 41px 25px
}
.sinner h3{
    font-weight:400
}
.sinner h1{
    font-size:40px
}
.txtleft{
    text-align:left
}
.brright{
    border-right:1px solid #ddd
}
.brleft{
    border-left:1px solid #ddd
}
.list{
    padding-left:78px
}
.list li i{
    padding-right:10px;
    color:#5C9EED;
    font-size:8px
}
.ft17{
    font-size:17px!important
}
.padngbottm{
    padding:0 0 75px
}
.newft{
    font-size:24px;
    padding-right:5px
}
@media (min-width:768px){
    .responsiveheader{
        display:none!important
    }
}
@media (max-width:768px){
    .navbar-fixed-top .container{
        padding:0
    }
}
.responsiveheader .panel{
    border:none
}
.responsiveheader .panel-body{
    color:#fff;
    background-color:#266398
}
.responsiveheader a{
    display:block;
    padding:5px;
    color:#fff
}
@media (max-width:768px){
    .navbar-header{
        background-color:#337ab7;
        padding:5px 15px!important
    }
    .swiper-container{
        padding-top:50px
    }
}
.panel-default>.panel-heading{
    color:#fff;
    background-color:#337ab7;
    border-color:#337ab7;
    padding:0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.panel-default>.panel-heading a{
    display:block;
    padding:10px 15px
}
.panel-default>.panel-heading a:after{
    content:"";
    position:relative;
    top:1px;
    right:10px;
    display:inline-block;
    font-family:'Glyphicons Halflings';
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    float:right;
    transition:transform .25s linear;
    -webkit-transition:-webkit-transform .25s linear
}
.panel-default>.panel-heading a[aria-expanded=true]{
    background-color:#337ab7
}
.panel-default>.panel-heading a[aria-expanded=true]:after{
    content:"\2212";
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg)
}
.panel-default>.panel-heading a[aria-expanded=false]:after{
    content:"\002b";
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg)
}
.accordion-option{
    width:100%;
    float:left;
    clear:both;
    margin:15px 0
}
.accordion-option .title{
    font-size:20px;
    font-weight:700;
    float:left;
    padding:0;
    margin:0
}
.accordion-option .toggle-accordion{
    float:right;
    font-size:16px;
    color:#fff
}
.responsiveheader .panel-group{
    padding-top:20px
}
@media (max-width:768px){
    #products-container .padcontent{
        padding:4% 10%
    }
}
.iconplus{
    width:100%;
    float:right;
    margin-top:-38px;
    padding-right:17px!important
}
.linkname{
    width:0
}
.navbar-scroll .navbar-toggle .icon-bar{
    background:#fff!important
}
.cloud-slider{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/banner/cloud.jpg) no-repeat;
    background-size:cover;
    background-position:center
}
.core-slider{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/banner/coreservices.jpg) no-repeat;
    background-size:cover;
    background-position:center
}
.migration-slider{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/banner/migration.jpg) no-repeat;
    background-size:cover;
    background-position:center
}
.aws-slider{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/banner/aws.jpg) no-repeat;
    background-size:cover;
    background-position:center
}
.cloudtype-slider{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/banner/cloudtype.jpg) no-repeat;
    background-size:cover;
    background-position:center
}
.devops-slider{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/banner/devops.jpg) no-repeat;
    background-size:cover;
    background-position:center
}
.hosting-slider{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/banner/hosting.jpg) no-repeat;
    background-size:cover;
    background-position:center
}
.project-managemant .sect.gallery.s1{
    background:url(../images/coreservices/1.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.s2{
    background:url(../images/coreservices/signin.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.s3{
    background:url(../images/coreservices/backup.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.s4{
    background:url(../images/coreservices/log.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.s5{
    background:url(../images/devops/5.jpg) center no-repeat;
    background-size:cover
}
.project-managemant .sect.gallery.s6{
    background:url(../images/devops/6.jpg) center no-repeat;
    background-size:cover
}
.logo-cont-aws{
    margin-left:-44px!important
}
.logo-cont-ot{
    margin-bottom:-49px!important
}
.cloudicons{
    padding:16px;
    border-radius:11px;
    font-size:70px!important;
    color:#5c9eed
}
.benefits{
    padding-right:100px!important;
    padding-left:100px!important
}
.cloud-text{
    font-size:15px;
    line-height:39px;
    color:grey;
    text-align:center
}
.padhyb{
    padding:0 47px
}
.bread{
    padding:5px;
    font-size:11px
}
.cloud-container{
    padding-top:50px!important
}
.no-marg{
    margin-bottom:0!important
}
.cldpading .active{
    text-decoration:underline;
    text-underline-position:under
}
.what-offer{
    font-size:30px!important;
    color:#7edfd1
}
.what-mob{
    font-size:37px!important;
    color:#c35384
}
.what-pam{
    font-size:30px!important;
    color:#fc9f9f
}
